---
---

@import "reset";
@import "variables";
@import "flex";

/* ----------------------- site ----------------------- */
body {
  background: $white;
  color: $dgrey;
  font: 14px $regular;
}
a {
  color: $blue;
  text-decoration: none;
}
.inner {
  margin: 0 auto;
  max-width: 1020px;

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
header {
  background: #333;
  padding: 10px 0;

  .nav a {
    opacity: .75;
  }

  &.fixed {
    background: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;

    .nav {
      opacity: 1;
    }
  }

  .inner {
    @include align-items(center);
    @include display-flex();
    @include justify-content(space-between);
  }
} 
.logo {
  font-size: 1.5em;

  small {
    display: block;
    font-size: 50%;
    letter-spacing: .35em;
    margin-top: -2px;
    opacity: .5;
    text-transform: uppercase;
  }
}
.nav {
  padding-top: 5px;

  a {
    color: #dcdcdc;
    padding: 0 10px;
    text-shadow: 0 0 3px #333;

    &:hover {
      opacity: 1
    }
  }
}

.banner {
  background: $dgrey url(images/banner.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 500px;
  position: relative;

  @include mobile {
    font-size: .75em;
  }

  > div {
    background: rgba(51,51,51, 0.7);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }

  h1 {
    color: #ddd;
    font-family: 'Lora', serif;
    font-size: 5em;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: -.01em;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: right;
    text-shadow: 0 0 2px #222;
    
    span {
      display: block;
      font-weight: normal;
      font-size: 60%;
      line-height: 100%;

      @include mobile {
        margin-top: 0;
      }
    }
  }
}

.promises {
  padding: 20px 0;
  text-align: center;

  .inner {
    @include display-flex();
    @include justify-content(space-between);

    @include mobile {
      display: block; 
    }
  }

  h3 {
    font-size: 2em;
    padding-top: 10px;
  }

  i {
    font-size: 3em;
  }

  li {
    @include flex-basis(30%);  

    @include mobile {
      border-top: 1px solid #ddd;
      padding: 20px 0;
      
      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }
}

.recent {
  background: #fff;
  font-size: 1.5em;
  padding: 50px 0;
  text-align: center;

  @include mobile {
    font-size: 1em;
  }

  h5 {
    color: #999;
    letter-spacing: .5em;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .skills {
    color: $green;
    display: block;
    font-size: 70%;
  }

  .image {
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      min-height: 200px;
    }

    a {
      background: rgba(255, 255, 255, 0.75);
      bottom: 0;
      color: #333;
      display: block;
      font-family: $bold;
      font-size: 2em;
      font-weight: bold;
      left: 0;
      padding: 10px 0;
      position: absolute;
      right: 0;
    }
  } 
}
/*
.works .inner {
  @include display-flex();
  @include justify-content(center);

  @include mobile {
    display: block; 
  }
}

.steps {
  color: #777;
  font-size: 1.25em;
  padding: 20px 0;

  @include flex-basis(40%);

  h5 {
    display: block;
    font-size: 120%;
    font-weight: bold;
  }
  
  li {
    @include display-flex();
    line-height: 120%;
    padding: 10px 0;
    
    small {
      color: #aaa;
    }
  }

  i {
    font-size: 2em;
    padding-right: 15px;
  }
}

.contact {
  background: $mgrey;
  margin-left: 20px;
  padding: 10px 20px;

  @include mobile {
    margin: 0;
  }

  > * {
    display: block;
    margin: 10px 0;
  }

  h5 {
    color: $white;
    font-size: 2em;
  }

  input, 
  textarea {
    border: 0;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 8px;
    width: 300px;

    @include mobile {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
    }
  }

  textarea {
    height: 100px;
    resize: none;
  }

  input[type="submit"] {
    background: $blue;
    color: #mgrey;
    padding: 10px;
  }
  > div {
    @include align-items(center);
    @include display-flex();
    @include justify-content(space-between);

    input{
      width: auto;
    }
  } 
} 
*/
footer {
  background: $mgrey;
  padding: 5px 0 60px;
  text-align: center;

  @include mobile {
    padding: 10px 0;

    .nav {
      padding-top: 50px;
      text-align: center;
    }
  }
}
.copyright {
  padding: 20px 0;
  text-align: center;

  &,
  a {
    color: #bbb
  }

  > small {
    display: block;
    letter-spacing: -.03em;
    margin-top: 25px;
  }
}

.page {
  font-size: 1.25em;
  padding: 2em 0;

  h1 {
    font-size: 2em;
    padding-bottom: 10px;
  }
}

//--- about page
.resume {
  background: $mgrey;
  padding-bottom: 50px;

  .inner {
    @include display-flex();
    @include justify-content(space-between);

    @include mobile {
      display: block;
    }
  }
}
.intro {
  color: $mgrey;
  font-size: 1.5em;
  padding: 20px 0;

  small {
    color: #aaa;
    display: block;
    font-size: 60%;
    padding-bottom: 10px;
  }

  b {
    display: block;
    font-family: $bold;
    font-size: 2.5em;
    font-weight: bold;
  }

  .inner {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 300px;
  }

  @include mobile {
    font-size: 1em;

    .inner {
      padding: 0 20px;
    }

    small {
      font-size: 80%;
    }
  }

  p {
    line-height: 120%;
    padding-bottom: 10px;
    text-indent: 2em;
  }
}

$greytext: #777;

.bio {
  color: #ccc;

  dt {
    color: $greytext;
    padding-top: 25px;
    text-transform: uppercase;
  } 

  dd {
    font-size: 1.5em;
  
    > small {
      color: $greytext;
    }
  }

  @include mobile {
    font-size: .8em;
  }
}

.face {
  @include align-items(flex-end);
  @include display-flex();
  @include flex-basis(30%);
  @include flex-direction(column);
  @include flex-order(2);
  
  color: $greytext;
  font-size: 1.5em;
  text-align: right;

  img {
    background: $white;
    border: 5px solid $white;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    margin: -70px 0 10px;
  }

  > div {
    @include display-flex();

    * {
      padding-left: 10px;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $blue;
    }
  }

  i {
    display: block;
    padding: 3px 0;
  }

  @include mobile {
    font-size: 1em;
  }
}

//--- 404
.page404 #main {
  background: #fff;
  .inner {
    font-size: 2em;
    text-align: center;
  }
  img {
    padding-top: 20px;
  }
}