// -------------------------------------------

  // all things flex :D

// -------------------------------------------

// example: @include display-flex();

@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-basis($basis) {
	-moz-flex-basis: $basis;
	-webkit-flex-basis: $basis;
    flex-basis: $basis;
}

@mixin flex-direction($direction) {
	-moz-flex-direction: $direction;
	-webkit-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin flex-flow($flow) {
	-moz-flex-flow: $flow;
	-webkit-flex-flow: $flow;
	flex-flow: $flow;
}

@mixin flex-grow($grow) {
	-moz-flex-grow: $grow;
	-webkit-flex-grow: $grow;
	flex-grow: $grow;
}

@mixin flex-shrink($shrink) {
	-moz-flex-shrink: $shrink;
	-webkit-flex-shrink: $shrink;
	flex-shrink: $shrink;
}

@mixin flex-wrap($wrap) {
	-moz-flex-wrap: $wrap;
	-webkit-flex-wrap: $wrap;
	flex-wrap: $wrap;
}

@mixin flex-order($order) {
	-moz-order: $order;
	-webkit-order: $order;
	order: $order;
}

@mixin flex($flex) {
	-moz-flex: $flex;
	-webkit-flex: $flex;
	-ms-flex: $flex;
	flex: $flex;
}

@mixin align-items($align) {
	-webkit-align-items: $align;
	align-items: $align;
}

@mixin justify-content($justify) {
	-webkit-justify-content: $justify;
	-moz-justify-content: $justify;
	justify-content: $justify;
}

@mixin align-content($align) {
	-webkit-align-content: $align;
	align-content: $align;
}

@mixin align-self($align) {
	-webkit-align-self: $align;
	align-self: $align;
}