
//
// VARIABLES
//

// colors
$blue: #3fd3ff;
$dgrey: #333;
$mgrey: #555;
$green: #7fcf49;
$white: #f6f6f6;

// fonts
$bold: Lora, serif;
$regular: Questrial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}