---
layout: default
hidefooternav: true
---

	<div class="intro"><div class="inner">
		<b>Hello, World!</b>
		<small>Web Developer since 2007</small>

		<p>My name is Val. I work as a programmer for J. Working front-end/UI is my favorite happy place. When I'm not working, I develop websites using wordpress, eat or watch Bones re-runs. </p>
		<p>I am an LDS. I served on a full-time 18-month mission to Nevada. That was an experience I’ll never forget! </p>
	</div></div>

	<div class="resume"><div class="inner">
		<div class="face">
			<img src="{{ site.avatar }}" width="100" height="100" />
			<span>"Never let the fear of striking out keep you from playing the game." - A Cinderella Story</span>
			<div>
				{% if site.footer-links.github %}
					<a href="https://github.com/{{ site.footer-links.github }}" target="_blank">
						<i class="fa fa-github" /></i>
					</a>
				{% endif %}
				{% if site.footer-links.instagram %}
					<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank">
						<i class="fa fa-instagram" /></i>
					</a>
				{% endif %}
				{% if site.footer-links.linkedin %}
					<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">
						<i class="fa fa-linkedin" /></i>
					</a>
				{% endif %}
				{% if site.footer-links.twitter %}
					<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank">
						<i class="fa fa-twitter" /></i>
					</a>
				{% endif %}
			</div>
		</div>
		<dl class="bio">
			<dt>Education</dt>
			<dd>
				Bachelor of Science in Information Technology <br />
				Mindanao Polytechnic State College <small>, Philippines</small><br />
				Cum Laude, 2006<br />
			</dd>

			<dt>Skills</dt>
			<dd>CSS, PHP, MySQL, Wordpress, HTML, Javascript</dd>
		</dl>	
		
	</div></div>