<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Questrial' rel='stylesheet' type='text/css'>
    <link href='{{ site.baseurl }}/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />  
  </head>

  <body{% if page.bodyClass %} class="{{ page.bodyClass }}" {% endif %}>
    <header {% if page.hasBanner %} class="fixed" {% endif %}><div class="inner">
      <a href="{{ site.baseurl }}/" class="logo">valeriejoy<small>thirtyone</small></a>
      {% include nav.html %}
    </div></header>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% if page.hidefooternav %}
    {% else %}
    <footer><div class="inner">
      {% include nav.html %}
    </div></footer>
    {% endif %}

    <div class="copyright">
      <a href="{{ site.baseurl }}/" class="logo">valeriejoy<small>thirtyone</small></a>
      <small>copyright2015</small>
    </div>

    {% include analytics.html %}
  </body>
</html>
